.vscode/
app/config/__pycache__
app/lib/__pycache__
app/lib/devices/__pycache__
app/lib/devices/neopixel/__pycache__
app/lib/devices/neopixel/microcontroller/__pycache__
app/lib/devices/sp108e/__pycache__
