[Unit]
Description=LED Strips ArtNET Controllers

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
