[Unit]
Description=Frame Window Lights
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=1
StartLimitInterval=0
StartLimitBurst=120
ExecStart=/usr/bin/env python3 -u /home/pi/ws2815test_rpi/frame_lights/app.py
ExecStopPost=-/usr/bin/env python3 -u /home/pi/ws2815test_rpi/frame_lights/app.py --off

[Install]
WantedBy=multi-user.target
